body{
    margin:0;
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#f8f9fa,#eef1f4);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding-bottom:100px;
}

.card {
    width:400px;
    background:white;
    border-radius:16px;
    box-shadow:0 20px 50px rgba(0,0,0,.15);
    padding:40px 30px;
    text-align:center;
    position:relative;
}

.card h2{
    color:#b11226;
    margin-bottom:15px;
}

.card p{
    font-size:14px;
    color:#555;
    margin-bottom:20px;
}

.input-box{
    position:relative;
    margin-bottom:20px;
}

.input-box input{
    width:87%;
    padding:12px 40px 12px 12px;
    border-radius:10px;
    border:1px solid #ddd;
    background:#fafafa;
    font-size:14px;
}

.input-box input:focus{
    outline:none;
    border-color:#e63946;
    background:white;
}

.input-box i{
    position:absolute;
    right:12px;
    top:50%;
    transform:translateY(-50%);
    color:#e63946;
    font-size:18px;
    pointer-events:none;
}

.btn{
    width:100%;
    padding:12px;
    background:#b11226;
    color:white;
    border:none;
    border-radius:12px;
    font-weight:600;
    font-size:14px;
    cursor:pointer;
    transition:.3s;
    position:relative;
    overflow:hidden;
}

.btn:hover{background:#b11226;}

.btn:hover:after{left:0;}

.message{
    margin-bottom:15px;
    font-size:13px;
    color:red;
}

a{
    color:#e63946;
    text-decoration:none;
}
a:hover{text-decoration:underline;}